{% extends 'base.html' %}

{% block title %}Recipes{% endblock %}

{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Search Recipes</h1>
            <form method="POST" action="{{ url_for('index') }}" class="mb-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Enter recipe name..." name="query" required>
                    <button class="btn btn-primary" type="submit">Search</button>
                </div>
            </form>
        </div>
    </div>
</header>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% if recipes %}
                {% for recipe in recipes %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ recipe.recipe.image }}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{ recipe.recipe.label }}</h5>
                                    <!-- Product price-->
                                    <p class="card-text">Calories: {{ recipe.recipe.calories | round }} kcal</p>
                                    <p class="card-text">Protein: {{ recipe.recipe.totalNutrients.PROCNT.quantity | round }} {{ recipe.recipe.totalNutrients.PROCNT.unit }}</p>
                                    <p class="card-text">Fat: {{ recipe.recipe.totalNutrients.FAT.quantity | round }} {{ recipe.recipe.totalNutrients.FAT.unit }}</p>
                                    <p class="card-text">Carbs: {{ recipe.recipe.totalNutrients.CHOCDF.quantity | round }} {{ recipe.recipe.totalNutrients.CHOCDF.unit }}</p>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{{ recipe.recipe.url }}">add to plan</a></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                {% else %}
                <p>No recipes found. Please enter a search query.</p>
                {% endif %}
        </div>
    </div>
</section>

{% endblock %}
